<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="fragments/header">HEADER</div>
<br/>
<div class="container">
    <div class="row mt-5 p-3">
        <div class="col-xl-8 offset-xl-2">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" th:src="@{/img/{filename}(filename=${product.photoName})}" align="PHOTO">
                <div class="card-body">
                    <h2 class="mt-0" th:text="${product.name}"></h2>
                    <h3 class="mt-0" th:text="${product.price}"></h3>
                    <h3 class="mt-0" th:text="${product.release}"></h3>
                    <h3 class="mt-0" th:text="${product.category}"></h3>
                    <h3 class="mt-0" th:text="${product.services}"></h3>
                    <h3 class="mt-0" th:text="${product.producerDto.name}"></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>