<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            <div th:replace="fragments/header">HEADER</div>
        </div>
    </div>
    <div class="mx-2">
        <h1 class="display-1 jumbotron text-center">WELCOME TO MY PRODUCER SITE</h1>
    </div>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>