<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
<head>
    <meta charset="UTF-8">
    <title>Car service</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header1">HEADER</div>
    <div class="row">
        <div class="col border border-info text-center text-info font-weight-bold offset-2">
            CAR
            <br>
            SERVICE
        </div>
        <div class="col border border-info text-center text-info font-weight-bold">
            REPAIR
        </div>
        <div class="col border border-info text-center text-info font-weight-bold">
            RENT
            <br>
            CAR
        </div>
        <div class="col border border-info text-center text-info font-weight-bold">
            VIN
            <br>
            DECODER
        </div>
        <div class="offset-2"></div>
    </div>
</div>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>