<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/params1-styles.css"/>
</head>
<body>

    <h1 class="my-text">AGE IS <span th:text="${age}"></span></h1>
    <h1 class="text-success p-3 m-3">NAME IS <span th:text="${name}"></span></h1>

    <div class="jumbotron text-center">
        <h1 class="display-4">TO JEST JUMBOTRON</h1>
        <p class="lead">
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
        </p>
        <hr/>
        <p>
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
            Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek. Dzisiaj jest poniedzialek.
        </p>
        <button class="btn btn-success btn-lg">CLICK ME!</button>
    </div>

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>